h1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

section {
    padding: 15px;
}

#grizzly {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 400px;
    width: auto;
}
#grizzly img {
    height: 400px;
    width: auto;
    
}

.mana {
    height: 12px;
    width: 12px;
}

#lands {
    margin-left: auto;
    margin-right: auto;
    width: 90%;

}

.basic {
    height: 300px;
    width: auto;
    text-align: center;
    display: inline;
}

img {
    height: 400px;
    width: auto; 
}

#ajani {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 400px;
    width: auto;
}

#pacifism {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 400px;
    width: auto;
}