
.blurb {
    text-align: center;
}

.container {
    background-color: lightgray;
}

#Reimb_Desc {
    width: 50%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

th {
	text-align: center;
}

#display {
	padding-top: 25px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	text-align: center;
	
}

#LoginForm {
	margin: auto;
	width: 50%;
}

form input {
	width: 50%;
}
